h2, h3, h4, h5, h6, dl, dd, p, figure, form {
    margin: 0;
}

menu, ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 12px/1.5 tahoma, "Microsoft YaHei", Arial, "Hiragino Sans GB", "\5B8B\4F53", sans-serif;
    color: #444;
    background: #fff url("../images/bg.jpg");
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #09c;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

img {
    vertical-align: middle;
}

cite {
    font-style: normal;
}